#index{position: absolute;top: 0;width: 1920px;height: 1080px;left: 50%;margin-left: -960px;-webkit-transform-origin: 50% 0%;-ms-transform-origin: 50% 0%;transform-origin: 50% 0%;overflow: hidden;background: url(../../img/index/indexbjt.png) no-repeat center center;display: flex;flex-direction: column;align-items: center;}
.title{width: 1916px;height: 70px;display: flex;justify-content: center;align-items: center;background: url(../../img/index/title.png) no-repeat center center;position: relative;margin-top: 130px;}
.title_top{margin-top: 130px;}
.tit_text{font-size: 58px;font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;font-weight: bold;color: #FFFFFF;margin-top: -138px;}
.right_btn{position: absolute;right: 250px;top: -35px;}
.right_btn span{font-size: 24px;font-family: MicrosoftYaHei;color: #FFFFFF;margin-right: 30px;cursor: pointer;}
.right_btn .deploy{color: #6FD0FF;}


.content{width:1576px;position: relative;height: 69%;display: flex;justify-content: flex-end;flex-direction: column;}
.p_bjt1{width: 1576px;height: 249px;background: url(../../img/index/bjt1.png) no-repeat;position: absolute;bottom: 30px;left: 0;}
.p_bjt2{width: 1576px;height: 86px;background: url(../../img/index/bjt2.png) no-repeat;position: absolute;bottom: 279px;left: 0;}
.p_bjt3{width: 750px;height: 86px;background: url(../../img/index/bjt3.png) no-repeat;position: absolute;bottom: 279px;left: 50%;margin-left: -375px;z-index: 99;}
.textbjt{width: 685px;height: 465px;background: url(../../img/index/textbjt.png) no-repeat;position: absolute;top: 20px;left: 50%;margin-left: -342px;font-size: 38px;font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;font-weight: bold;color: #FFFFFF;text-align: center;line-height: 465px;z-index: 100;}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.img_con{position: relative;}
.img_con .carousel-caption{position: absolute;width: 100%;text-align: center;top: 50%;margin-top: -24px;font-size: 26px;font-family: MicrosoftYaHei;color: #FFFFFF;}
#showcase {height: 100%;overflow: visible !important;margin-top: 245px;}
#showcase1 {height: 100%;overflow: visible !important;width: 100%;position: absolute !important;left:0;top:275px;z-index: 9999;}
.trans{width: 265px;height: 255px;border-radius: 50%;background: transparent;cursor: pointer;}
.img_con,.img_con a,.img_con img {display: block;width: 358px;height: 369px;}

#left{display: block;width: 34px;height: 38px;background: url(../../img/index/left.png) no-repeat;position: absolute;left: 0;top: 265px;cursor: pointer;z-index: 99999;}
#right{display: block;width: 34px;height: 38px;background: url(../../img/index/right.png) no-repeat;position: absolute;right: 0;top: 265px;cursor: pointer;z-index: 99999;}