#login{position: absolute;top: 0;width: 1920px;height: 1080px;left: 50%;margin-left: -960px;-webkit-transform-origin: 50% 0%;-ms-transform-origin: 50% 0%;transform-origin: 50% 0%;overflow: hidden;background: url(../../img/login/loginbjt.png) no-repeat center center;display: flex;flex-direction: column;align-items: center;justify-content: space-between;background-size: 100% 100%;}
.title{width: 1853px;height: 50px;display: flex;justify-content: center;align-items: center;background: url(../../img/login/top2.png) no-repeat center center;margin-top: 70px;position: relative;}
.tops{display: block;width: 759px;height: 20px;position: absolute;bottom: -3px;left: 50%;margin-left: -379px;}
.logo{display: block;width: 150px;height: 52px;margin-top: -42px;}
.text{display: block;width: 377px;height: 36px;margin-top: -45px;}
.title i{display: block;margin: 0 32px;width: 2px;height: 22px;background: #FFFFFF;margin-top: -45px;}
.content{display: flex;width: 100%;margin-top: 180px;}
.con_left{width: 992px;height: 517px;display: flex;justify-content: center;background: url(../../img/login/dx.png) no-repeat;background-size: cover;margin-right: 125px;margin-left: 70px;animation: bounceInLeft 1s forwards;}
.con_left img{display: block;width: 571px;height: 376px;animation-name: a4;animation-iteration-count: infinite;animation-duration: 2s;animation-direction: alternate;}
.con_right{width: 395px;height: 376px;background: rgba(255,255,255,.03);border-radius: 2px;position: relative;display: flex;flex-direction: column;align-items: center;margin-top: 6px;animation: bounceInUp 1s forwards;}
.con_right>p{margin: 24px 0 ;width: 100%;text-align: center;font-size: 26px;font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;font-weight: bold;color: #FFFFFF;}
.pub_input img{display: block;width: 32px;height: 32px;margin: 0 14px 0 12px;}
.pub_input{width: 336px;height: 48px;background: rgba(6, 135, 205, 0.3);border: 1px solid #0BA1F8;margin-bottom: 24px;}
.el-form-item__content{display: flex;align-items: center;height: 100%;}
.el-input__inner{width: 240px;height: 100%;background: transparent;border: none;padding: 0;font-size: 18px;font-family: MicrosoftYaHei;color: #FFFFFF;}
input::input-placeholder{color:  #FFFFFF !important;} 
::-webkit-input-placeholder { /* WebKit browsers */ 
color: #FFFFFF !important; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #FFFFFF !important; 
} 
::-moz-placeholder { /* Mozilla Firefox 19  */ 
color: #FFFFFF !important; 
} 
:-ms-input-placeholder { /* Internet Explorer 10  */ 
color: #FFFFFF !important; 
}
.code_input {width: 200px;height: 48px;position: relative;}
.code_input .el-input__inner{width: 118px;height: 100%;}
.code_input .code_word{display: block;width: 112px;height: 48px;border: 1px solid #0BA1F8;text-align: center;line-height: 38px;
position: absolute;left: 210px;top: -1px;font-size: 20px;font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;font-weight: bold;color: #FFFFFF;}
.login_btn{width: 336px;height: 48px;background: linear-gradient(360deg, #0E5BE8 0%, #0692CD 100%);font-size: 19px;font-family: MicrosoftYaHei-Bold, MicrosoftYaHei;font-weight: bold;color: #FFFFFF;padding: 0;}

.shan1{position: absolute;width: 198px;height: 198px;bottom: -98px;left: -95px;}
.shan2{position: absolute;width: 228px;height: 228px;top: -108px;right: -112px;}
.bottom{width: 1846px;height: 50px;background: url(../../img/login/top1.png) no-repeat center center;margin-bottom: 30px;display: flex;justify-content: center;align-items: center;}
.bottom img{display: block;width: 366px;height: 24px;}

@keyframes a4{
  0% {transform: translateY(-5%);}
}
@-webkit-keyframes a4{
  0% {transform: translateY(-5%);}
}
@-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
            transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
            transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
          animation-name: bounceInUp;
}
@-webkit-keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInLeft {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
            transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
            transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
            transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
            transform: translate3d(5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
}