* {
	margin: 0;
	padding: 0;
}

body,
html {
    width: 100%;
    min-width: 1200px;
    height: 100%;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

i {
	font-style: normal;
}

a {
	text-decoration: none;
	outline: none;
}

ol,
ul,
li {
	list-style: none;
}

b,
strong {
	font-weight: normal;
}

textarea {
	/* 文本域拉伸，根据需求而定 */
	resize: none；
}

input,
button,
textarea {
	outline: none;
}
.right_btnpub{position: absolute;right: 50%;margin-right: -35%;top: -35px;width: 70%;display: flex;justify-content: space-between;}
.right_btnpub span,.right_btnpub a{font-size: 24px;font-family: MicrosoftYaHei;color: #FFFFFF;cursor: pointer;margin-right: 0;}
.right_btn span:hover,.right_btnpub a:hover{color: #6FD0FF;}
[v-cloak]{display: none !important;}